<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:name=".CloudreveApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cloudreve">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.ImagePreviewActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cloudreve" />
        <activity
            android:name=".ui.ImageEditorActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cloudreve" />
        <activity
            android:name=".ui.AlbumSearchActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cloudreve" />
        <activity
            android:name=".ui.UploadProgressActivity"
            android:exported="false"
            android:label="@string/transfers_title"
            android:theme="@style/Theme.Cloudreve" />
        <activity
            android:name=".ui.FolderActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cloudreve" />
        <activity
            android:name=".ui.FileDetailActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cloudreve" />
        <activity
            android:name=".ui.MusicPlayerActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Cloudreve" />
        <service
            android:name="com.zerostudio.cloudreve.feature.preview.CloudrevePlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cloudreve">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
